    <div class="modal-header">
      <h4 class="modal-title">Achtung</h4>
    </div>
    <div class="modal-body">
		<div  class="modal-wrap modaltest">
			<div class="modal_wrap">
				<div class="container">
					<h1>Deine Änderungen sind jetzt öffentlich!</h1>
					<p>Danke für deine Angaben</p>
				</div>
			</div>
		</div>
	</div>
    <div class="modal-footer"> 
      <button type="button" class="btn btn-secondary" data-dismiss="modal">Änderungen verwerfen</button>
      <button type="button" class="btn btn-primary" (click)="modalService.close('Close click')" ngbAutofocus>Auf dieser Seite bleiben</button>
    </div>
