<div class="widget-wrap wide">
	<h4>Etwas Eintragen<span *ngIf="asModal">test</span></h4>
	<div>
		<form [formGroup]="createEntryForm" (ngSubmit)="onSubmit()">
      <label class="form-label" for="inputGroupSelect01">OSM-ID</label>
      <input formControlName="osmId" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.osmId.errors }" />
      <div *ngIf="submitted && f.osmId.errors" class="invalid-feedback">
        <div *ngIf="f.osmId.errors.required">OSM-ID is required</div>
      </div>
      <label class="form-label" for="inputGroupSelect01">Type</label>
				<select formControlName="osmType" class="form-control custom-select" [ngClass]="{ 'is-invalid': submitted && f.osmType.errors }">
					<option *ngFor="let type of osmNodeTypes" [value]="type">{{type}}</option>
				</select>
				<div *ngIf="submitted && f.osmType.errors" class="invalid-feedback">
					<div *ngIf="f.osmType.errors.required">osmType is required</div>
				</div>
      <div></div>
				<button
					(click)="nodeService.getOSMElementById(createEntryForm.value.osmType,createEntryForm.value.osmId)"
					[disabled]="loading" class="btn btn-primary formbtn">Hinzuf&uuml;gen</button>
			<div *ngFor="let node of nodeService.result">
				<div (click)="createEntry(node)">
					{{node.name}} ( {{node.osmId}} ) <span *ngIf="node.mode=='edit'">(Editieren)</span>
				</div>
			</div>
		</form>
	</div>

	<div *ngIf="elementToCreate != null">
		<div class="hspace"></div>
		<h3>OSM Informationen</h3>
		<div>
			<div class="form-group row">
				<label for="elementName" class="col-sm-3 col-form-label">Name:</label>
				<div class="col-sm-9">
					<input type="text" class="form-control" id="elementName" value="{{elementToCreate.name}}">
				</div>
			</div>
			<div class="form-group row">
				<label for="elementType" class="col-sm-3 col-form-label">Typ:</label>
				<div class="col-sm-9">
					<input type="text" readonly class="form-control-plaintext"
						id="elementType" value="{{elementToCreate.osmType}}">
				</div>
			</div>
			<div *ngIf="elementToCreate.hasCoordinates()" class="form-group row">
				<label for="elementCoordinates" class="col-sm-3 col-form-label">Koordinaten</label>
				<div class="col-sm-9">
					<input type="text" readonly class="form-control-plaintext"
						id="elementCoordinates"
						value="{{elementToCreate.lat}} , {{elementToCreate.lon}}">
				</div>
			</div>
			<div class="form-group row">
				<label for="elementOsmId" class="col-sm-3 col-form-label">OSM-ID:</label>
				<div class="col-sm-9">
					<input type="text" readonly class="form-control-plaintext"
						id="elementOsmId" value="{{elementToCreate.osmId}}">
				</div>
			</div>
			<div class="form-group row">
				<label for="elementOsmTags" class="col-sm-3 col-form-label">Tags
					in OSM:</label>
				<div class="col">
					<input type="text" readonly class="form-control-plaintext"
						id="elementOsmTags" value="">
				</div>
			</div>

			<ul class="list-group card-header">
				<li class="list-group-item"
					*ngFor="let tag of elementToCreate.osmtags">{{tag.key}}:
					{{tag.value}}</li>
			</ul>
			<br>
		</div>
		<h5>Ort des Guten Lebens</h5>
		<div>
			<label for="elementBliDimensionen" class="col-sm-6 col-form-label">BLI-Dimensionen</label>
      		<app-bli class="bli-app" [node]="nodeService.detailView" [displayType]="'checkboxes'"></app-bli>
			<!--<div class="form-check"
				*ngFor="let dimension of nodeService.dimensions">
				<input class="form-check-input" name="{{dimension.name}}"
					[checked]="elementToCreate.hasBliDimension(dimension)" (click)="elementToCreate.toggleDimension(dimension)" type="checkbox" /> <label class="form-check-label">{{dimension.name}}</label>
			</div>-->
			<br>
		</div>
		<div class="form-group row card-header edit_header">
			<label for="elementDescription" class="col-sm-6 col-form-label">Beschreibung</label>
			<div class="col-sm-12">
				<textarea class="form-control" id="descriptionTextarea" rows="10" [(ngModel)]="elementToCreate.description"></textarea>
			</div>
		</div>

		<form>
			<h5>Dieser Ort und sein Netzwerke</h5>
			<div class="form-group">
				<ul class="list-group">
					<li class="list-group-item"
						*ngFor="let tag of elementToCreate.tags">{{tag.key}}:
						{{tag.value}}
						<button type="submit" class="btn btn-secondary btn-sm create-entry-tag"
							(click)="elementToCreate.removeTag(tag)">Entfernen</button>
					</li>
				</ul>
			</div>
			<div class="form-group row">
				<label for="elementLegalform" class="col-sm-3 col-form-label">Rechtsform</label>
				<div class="col-sm-9">
					<input type="text" class="form-control" id="elementLegalform" value="{{elementToCreate.legalform}}">
				</div>
			</div>
			<div class="form-group row">
				<label for="elementBenefittothepublic" class="col-sm-3 col-form-label">Gemeinnützigkeit</label>
				<div class="col">
					<input type="text" class="form-control" id="elementBenefittothepublic" value="{{elementToCreate.Benefittothepublic}}">
				</div>
			</div>
			<div class="form-group row">
				<label for="elementFoundingyear" class="col-sm-3 col-form-label">Gründungsjahr</label>
				<div class="col">
					<input type="text" class="form-control" id="elementFoundingyear" value="{{elementToCreate.Foundingyear}}">
				</div>
			</div>
			<!--
			<h5>Tags hinzuf&uuml;gen:</h5>
			<div class="form-group">
				<div class="form-row">
					<div class="col">
						<div class="form-group input-group">
							<div class="input-group-prepend">
								<label class="input-group-text" for="inputGroupSelect01">Schlüssel</label>
							</div>
							<input type="text" class="form-control"
								placeholder="Neuer Schl&uuml;ssel" name="newKey"
								[(ngModel)]="newKey">
						</div>
					</div>
					<div class="col">
						<div class="form-group input-group">
							<div class="input-group-prepend">
								<label class="input-group-text" for="inputGroupSelect01">Wert</label>
							</div>
							<input type="text" class="form-control" placeholder="Neuer Wert"
								name="newValue" [(ngModel)]="newValue">
						</div>
					</div>
				</div>
			</div>
			<div class="form-group">
				<button type="submit" class="btn btn-primary" (click)="addTag()">Tag
					Hinzuf&uuml;gen</button>
			</div>
			 -->
		</form>
		<form>
			<h4>Netzwerkpartner</h4>
			<div class="form-group">
				<ul class="list-group">
					<li class="list-group-item" *ngFor="let peer of elementToCreate.peers">{{peer.name}}
              			<button type="submit" class="btn btn-secondary btn-sm create-entry-tag" (click)="removePeer(peer)">Entfernen</button>
					</li>
        		</ul>
			</div>
		<!--
			<h4>Netzwerkpartner hinzuf&uuml;gen:</h4>
			<form [formGroup]="addPeerForm">
				<div class="form-group">
					<div class="form-row">
						<div class="col">
							<div class="form-group input-group">
								<div class="input-group-prepend">
									<label class="input-group-text">OSM-ID</label>
								</div>
								<input type="text" formControlName="newPeerId"  class="form-control" aria-label="OSM-ID"
									placeholder="OSM-ID" name="newPeerId">
							</div>
						</div>
						<div class="col">
							<div class="form-group input-group">
								<div class="input-group-prepend">
									<label class="input-group-text" for="inputGroupSelect01">Type</label>
								</div>
								<select formControlName="newPeerType" class="form-control custom-select">
									<option *ngFor="let type of osmNodeTypes" [value]="type">{{type}}</option>
								</select>
							</div>
						</div>
					</div>
				</div>
			</form>
			<div class="form-group">
				<button type="submit" class="btn btn-primary" (click)="addPeer()">Netzwerkpartner
					Hinzuf&uuml;gen</button>
			</div>
			 -->
		</form>
<!--
		<div class="form-group">
			<div>
				<h4>Kategorien und Datengruppen:</h4>
			</div>

			<div class="hspace"></div>
			<div *ngFor="let category of categoryService.categories">
				<div>
					<h4>{{category.name}}</h4>
					<span title="{{category.description}}"></span>
				</div>
				<div *ngFor="let datagroup of category.dataGroups"
					class="form-check_">
					<div *ngIf="datagroup.dataGroups.length==0">
						<input class="form-check-input" type="checkbox"
							[checked]="elementToCreate.hasDataGroup(datagroup)"
							(change)="elementToCreate.toggleDataGroup(datagroup)"
							name="{{datagroup.name}}{{datagroup.id}}"> <label
							class="form-check-label" for="{{datagroup.name}}{{datagroup.id}}">&nbsp;&nbsp;{{datagroup.name}}</label>
					</div>
					<div style="width: 100%;" *ngIf="datagroup.dataGroups.length>0">

						<h5>&nbsp;&nbsp;{{datagroup.name}}</h5>
						<div *ngFor="let subgroup of datagroup.dataGroups"
							class="form-check_">
							<div style="width: 100%;" *ngIf="subgroup.dataGroups.length == 0">
								<input class="form-check-input" type="checkbox"
									[checked]="elementToCreate.hasDataGroup(subgroup)"
									(change)="elementToCreate.toggleDataGroup(subgroup)"
									name="{{subgroup.name}}{{subgroup.id}}"> <label
									class="form-check-label" for="{{subgroup.name}}{{subgroup.id}}">&nbsp;&nbsp;&nbsp;&nbsp;{{subgroup.name}}</label>
							</div>
							<div style="width: 100%; padding-left: 2em;"
								*ngIf="subgroup.dataGroups.length > 0">
								<b>{{subgroup.name}}</b>
								<div style="width: 100%">
									<div *ngFor="let subsubgroup of subgroup.dataGroups"
										class="form-check_">
										<input class="form-check-input" type="checkbox"
											[checked]="elementToCreate.hasDataGroup(subsubgroup)"
											(change)="elementToCreate.toggleDataGroup(subsubgroup)"
											name="{{subsubgroup.name}}{{subsubgroup.id}}"> <label
											class="form-check-label"
											for="{{subsubgroup.name}}{{subsubgroup.id}}">&nbsp;&nbsp;&nbsp;&nbsp;{{subsubgroup.name}}</label>
									</div>
								</div>
							</div>
						</div>
					</div>

				</div>

			</div>

		</div>
-->
	</div>
	<div class="form-group" *ngIf="elementToCreate != null">
		<div class="form-row">
			<div class="col-5">
				<button type="submit" class="btn btn-primary" (click)="abort()">bearbeiten beenden</button>
			</div>
			<div class="col-5">
				<button type="submit" class="btn btn-primary" (click)="save()">Veröffentlichen</button>
			</div>
		</div>
	</div>
	<div class="form-group"></div>
</div>
