.sidecontainerleft {
	position:fixed;
	color:black;
	width:445px;
  transition: margin-left 0.4s;
  z-index:1;

}
.searchtitle{
	background:#fff;
	padding:10px 20px;
	font-size: 20px;
}
.containerSearch {
	width:405px;
	box-shadow: 0px 0px 4px rgba(127,127,127,0.7);
	background-color:rgba(255,255,255,0.85);
	/*height:100%;*/
}

.tab-Content {
	background:#e6e6e6;
}
.tabContent {
	position:relative;
}
.search-results-wrap {
	position: fixed;
	display: block;
	bottom: 110px;
	top: 217px;
	width:405px;
	background:#FFF;
	overflow-y: scroll;
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none;  /* IE 10+ */
}
.search-results-wrap::-webkit-scrollbar { /* WebKit */
    width: 0;
    height: 0;
}

#freesearchtab {
  background-color: #e6e6e6;
  border-radius: 0px;
}
form.searchForm div.form-check {
  margin-left: 10px;
  margin-top: 5px;
  height: 30px;
}
form.searchForm div.form-check label {
	color:#6d6d6d;
}

.sidecontainerright {
	/*margin-right:25%;*/
	position:fixed;
	right:0px;
  	z-index:1;
	width:500px;
  padding-bottom: 112px;
  display:flex;
  height:100%;
}

.sidecontainerright {
  transition: margin-right 0.4s;
  z-index:1;
}
.sidecontainerleft.ausgeblendet {
  margin-left: -405px;
}

@media only screen and (max-width: 1000px) {
  .sidecontainerright {
    width:300px;
  }
  .sidecontainerright.ausgeblendet{
    margin-right:-265px!important;
  }
  .sidecontainerright.detail-label {
    flex: 0 0 100%;
  }
}
.sidecontainerright.ausgeblendet{
	margin-right:-465px;
}
.searchdetails {
	background-color:rgba(255,255,255,0.85);
	color:black;
	box-shadow: 0px 0px 4px rgba(127,127,127,0.7);
	padding-bottom:100px;
	width: 100%;
}
.searchdetails div{
	margin-right:0px;
}
.elementwrap {
	height:100%;
	overflow-y: scroll;
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none;  /* IE 10+ */
	display:block;
}
.elementwrap::-webkit-scrollbar { /* WebKit */
    width: 0;
    height: 0;
}
.elementfooter {
	height:100%;
	display:block;
	border-top:1px solid #ccc;
	padding:15px;
}

#elementKey {
}
.elementLinkOsm {
	position: absolute;
	top: 1em;
	right: 0;
	float: right;
	width: 2em;
	height: 2em;
	line-height: 0em;
}

.elementedit{
	float:left;
}
.elementlastedit{
	float:right;
  margin-top: 6px;
}

.searcheditPrepend {
	float:left;
	width:45px;
	height:37px;
	line-height: 1.5;
	border-radius: 20px;
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
	line-height: 10px;
	padding: 0 0 .75rem 0.25rem;
  z-index: 100;
  box-shadow: -2px 1px 2px rgba(127,127,127,0.5);
}
.searchetogglePrepend {
	float:left;
	width:45px;
	height:38px;
	line-height: 1.5;
	border-radius: 20px;
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
	line-height: 10px;
	padding: 0 0 .75rem 0.25rem;
  -webkit-box-shadow: 0px 0px 4px rgba(127,127,127,0.7);
  -moz-box-shadow: 0px 0px 4px rgba(127,127,127,0.7);
  box-shadow: 0px 0px 4px rgba(127,127,127,0.7);
}

.elementdetails div.form-group.row {
	border-bottom:1px solid #ccc;
}
.searchetogglePrepend {
	background-color:rgba(255,255,255,1);
	font-weight:bold;
	color:#0d0d0d;
}
.searchForm {
	/*background-color:#5b90dc;
	color:#fff;*/
}
.search-button {
	background-color: transparent;
	background-image: none;
	border: 0px solid transparent;
	color: #fff;
    padding-top: calc(.375rem + 1px);
    padding-bottom: calc(.375rem + 1px);
    margin-bottom: 0;
    font-size: inherit;
    line-height: 1.5;
    width: 100%;
}
.searchinput {
	border-radius: 0;
	border: solid #94c11f;
	border-right: 0px;
	width:405px;
	box-shadow:none;
}
.searchbuttonPrepend {
	/*float:left;*/
  width: 40px;
  height: 33px;
  position: absolute;
  top: 127px;
  line-height: 1.5;
  padding:0;
  background-color: #94c11f;
  font-weight: bold;
  color: #fff;
}

.search-results label {
	padding:10px;
	color:#9b9b9b;
}
div.list-group.search-results div div div.list-group-item.list-group-item-action,
.searchdetails div.elementbli div.list-group div.list-group-item.list-group-item-action {
	border-radius:0;
}
div.list-group.search-results div div div.list-group-item.list-group-item-action.selected-item, div.list-group.search-results div div div.list-group-item.list-group-item-action.selected-item i {
	color:#fff;
	background-color:#799e1a;
	border:1px solid #799e1a;
}
div.list-group.search-results div div div.list-group-item.list-group-item-action i {
	color:#799e1a;
	padding-right:5px;
}

.elementdetails > .name, #elementName, .searcheditPrepend {
	background-color:#799e1a;
	font-weight:bold;
	color:#fff;
}
.elementdetails {
	padding-left:15px;
}
.elementdiscription {
	padding:0px;
}
.elementtitle {
	padding:20px;
	background:#fff;
}
.elementwrap {
	overflow: scroll;
}
.collapseInfo, .collapseSharing, .collapseNutrition, .collapseDescription {
	padding:10px 10px;
	background:#f7f7f7;
}
.collapseInfo,  .collapseSharing, .collapseDescription, .collapseNutrition , .collapseDescription {
	border-bottom:1px solid #b6b6b5;
}
.collapse .card .card-body .row {
	border-bottom:1px solid #b6b6b5;
}
.card {
	border-radius:0px;
}
.searchdetails div .form-group {
	margin-bottom:0px;
}

.btn-outline-secondary {
	color: #6c757d;
	background-color: transparent;
	background-image: none;
	border-color: #ccc;
}

.elementpartner .fa-map-marker {
	margin-right:8px;
}

.ToggleSearch, .searchbutton {
	width:40px;
}
.selected-item{
	border:1px solid;
}
.list-group-item{
  border:0px;
  border-bottom: 1px solid #ccc;
}
.searchbox-text-only{
  margin: 10px 0 10px 10px;
  color: #6d6d6d;
  /*height: 10px;*/
}

.searchbox-heading {
  border: solid #ff0000;
  line-height: 10px;
  padding: 10px;
  color: #fff;
  background-color: #333;
  font-weight: bold;
  border-width: 0px 0;
}
.searchbox-subheading {
  border: solid #ff0000;
  line-height: 10px;
  padding: 10px;
  color: #fff;
  background-color: #333;
  font-weight: bold;
  border-width: 0px 0;
}

.elemexists {
	font-size: 0.7rem;
}

.detailbox {
  padding-top: 5px;
}
