<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand logo logosize" routerLink="home" href="#"> GEO<b>PORTAL</b> DES <b>GUTEN LEBENS</b> </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item"><a class="nav-link" routerLink="search" routerLinkActive="active"
                              href="#">Karte<span class="caret"></span></a></li>
      <li class="nav-item"><a class="nav-link" routerLink="home" routerLinkActive="active"
                              href="#">&Uuml;ber das Projekt<span class="caret"></span></a></li>
      <!--<li class="nav-item"><a class="nav-link" routerLink="discover" routerLinkActive="active"
				href="#">Entdecken<span class="caret"></span></a></li>-->
      <!--<li class="nav-item"><a class="nav-link" routerLink="help" routerLinkActive="active"
				href="#">Hilfe<span class="caret"></span></a></li>-->
      <li class="nav-item"><a class="nav-link" routerLink="contribute" routerLinkActive="active"
                              href="#">Mitwirken<span class="caret"></span></a></li>
      <li class="nav-item"><a class="nav-link"
                              href="{{apiService.apiURL}}/GeoElements/EdgeList">Datenexport<span class="caret"></span></a></li>
    </ul>
    <ul class="navbar-nav navbar-right">
      <!--<li class="nav-item"><a class="nav-link" routerLink="messages" href="#">Messages</a></li>-->
      <!-- <li *ngIf="!authService.loggedIn"><button class="btn btn-light buttonicon message" routerLink="messages" href="#" type="button">Messages</button></li> -->
      <li *ngIf="!authService.loggedIn"><button type="button" (click)="modalService.open('login',true)" class="btn btn-light buttonicon login">Anmelden | Registrieren</button></li>
      <div ngbDropdown class="dropdown"  *ngIf="authService.loggedIn">
        <button ngbDropdownToggle class="btn btn-light buttonicon profile" type="button" id="profilMenuButton">{{authService.currentUser.username}}</button>
        <div ngbDropdownMenu class="dropdown-menu" aria-labelledby="profilMenuButton">
          <!-- <a class="dropdown-item" href="#" routerLink="userprofile">Mein Profil</a> -->
          <!-- <a class="dropdown-item" href="#" routerLink="messages">Nachrichten</a> -->
          <a class="dropdown-item" (click)="logout()">Logout</a>
          <!-- <a class="dropdown-item" href="#" routerlink="">Abmelden</a>-->
        </div>
      </div>
      <li *ngIf="authService.loggedIn"><button type="button" (click)="modalService.openLg('AddSomethingComponent',true)" class="btn btn-light buttonicon add_entry">Etwas Eintragen!</button></li>

      <!--<li *ngIf="!authService.loggedIn" class="nav-item"><a class="nav-link" routerLink="login" href="#">Login</a></li>
			<li *ngIf="authService.loggedIn" class="nav-item"><a class="nav-link" routerLink="userprofile" href="#">Profil ({{authService.currentUser.username}})</a></li>
			<li *ngIf="authService.loggedIn" class="nav-item"><a class="nav-link" routerLink="createEntry" href="#">Eintragen</a></li>-->
    </ul>
  </div>
</nav>
