.navbar-collapse {
	margin-left:3em;
	color: white !important;
}
ul.navbar-nav > li{
	color:white;
  margin-left: 5px;
}

.navbar {
	position: fixed;
	width: 100%;
	z-index:1000;
}
.nav-link {

}
a.nav-link.active {
	border-bottom: 1px solid #fff;
}
