/*BLI Icons*/
.bliicon-housing {
  background: url("/assets/img/bli/bliicon-housing.svg") no-repeat 0 0;
  background-size: 25px;
}

.bliicon-community {
  background: url("/assets/img/bli/bliicon-community.svg") no-repeat 0 0;
  background-size: 25px;
}

.bliicon-education {
  background: url("/assets/img/bli/bliicon-education.svg") no-repeat 0 0;
  background-size: 25px;
}

.bliicon-health {
  background: url("/assets/img/bli/bliicon-health.svg") no-repeat 0 0;
  background-size: 25px;
}

.bliicon-income {
  background: url("/assets/img/bli/bliicon-income.svg") no-repeat 0 0;
  background-size: 25px;
}

.bliicon-infrastructure {
  background: url("/assets/img/bli/bliicon-infrastructure.svg") no-repeat 0 0;
  background-size: 25px;
}

.bliicon-leisure {
  background: url("/assets/img/bli/bliicon-leisure.svg") no-repeat 0 0;
  background-size: 25px;
}

.bliicon-nature {
  background: url("/assets/img/bli/bliicon-nature.svg") no-repeat 0 0;
  background-size: 25px;
}

.bliicon-satisfaction {
  background: url("/assets/img/bli/bliicon-satisfaction.svg") no-repeat 0 0;
  background-size: 25px;
}

.bliicon-security {
  background: url("/assets/img/bli/bliicon-security.svg") no-repeat 0 0;
  background-size: 25px;
}
.bliicon-work{
  background: url("/assets/img/bli/bliicon-work.svg") no-repeat 0 0;
  background-size: 25px;
}
.bliicon-wlbalance{
  background: url("/assets/img/bli/bliicon-wlbalance.svg") no-repeat 0 0;
  background-size: 25px;
}
.bliicon-engagement{
  background: url("/assets/img/bli/bliicon-engagement.svg") no-repeat 0 0;
  background-size: 25px;
}


/*icons*/

.buttonicon:before{
  display: inline-block;
  width: 20px;
  height: 19px;
  margin: 0px 0px -6px 0px;
  content: "";
}

.login:before {
  background: url("/assets/icons/gp_login.svg") no-repeat 0 0;
  background-size: 16px;
}

.message:before {
  background: url("/assets/icons/gp_message.svg") no-repeat 0 0;
  background-size: 16px;
}

.add_entry:before {
  background: url("/assets/icons/gp_add_entry.svg") no-repeat 0 0;
  background-size: 16px;
  content: "";
}

.profile:before {
  background: url("/assets/icons/gp_profile.svg") no-repeat 0 0;
  background-size: 16px;
}

.delete:before {
  background: url("/assets/icons/gp_delete.svg") no-repeat 0 0;
  background-size: 16px;
}

.info:before {
  background: url("/assets/icons/gp_info.svg") no-repeat 0 0;
  background-size: 16px;
}

.gp_network:before {
  background: url("/assets/icons/gp_network.svg") no-repeat 0 0;
  background-size: 16px;
}

.gp_sharing:before {
  background: url("/assets/icons/gp_sharing.svg") no-repeat 0 0;
  background-size: 16px;
}

.gp_osmlink:before {
  background: url("/assets/icons/gp_osmlink.svg") no-repeat 0 0;
  background-size: 25px;
  float: right;
}

.gp_warning:before {
  background: url("/assets/icons/gp_warning.svg") no-repeat 0 0;
  background-size: 16px;
}

.gp_betterlife:before {
  background: url("/assets/icons/gp_betterlife.svg") no-repeat 0 0;
  background-size: 16px;
}

.gp_food:before {
  background: url("/assets/icons/gp_food.svg") no-repeat 0 0;
  background-size: 16px;
}

.logo:before {
  background: url("/assets/icons/logo.svg") no-repeat 0 0;
  background-size: 46px;
}

.logosize:before{
  display: inline-block;
  width:45px;
  height: 37px;
  margin: 0px 0px -15px 0px;
  content: "";
  background-size: 46px;
}

.icon_big:before{
  display: inline-block;
  width:32px;
  height: 32px;
  margin: 0px 0px -6px 0px;
  content: "";
  background-size: 32px;
}

.listicon:before{
  display: inline-block;
  width:25px;
  height: 20px;
  margin: 0px 0px -6px 0px;
  content: "";
  background-position: center;
  background-size: 16px;
}

.uiicon:before{
  display: inline-block;
  width:20px;
  height: 19px;
  margin: 0px 0px -6px 0px;
  content: "";
}

