/* You can add global styles to this file, and also import other style files */

@import "icons.css";
@import "vars.scss";
@import "../node_modules/bootstrap/scss/bootstrap.scss";

body {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 0.9rem;
}

div.widget-wrap{
  margin: 0 auto  54px auto;
  padding: 30px;
  background-color: rgba(255,255,255,0.85);
  color: black;
  box-shadow: 0px 0px 4px rgba(127,127,127,0.7);
  width: 400px;
  position: relative;
  z-index:2;
}

div.wide{
  width:600px !important;
}

div.hspace{
  width:100%;
  height:2em;
}

div.big-widget {
  width:100%;
  max-width:100%;
  background:#fafafa;
  min-height:796px;
}

/* Temporary Overwrites for Bootstrap*/

.navbar-dark .navbar-nav .nav-link {
  /*color: rgba(255,255,255,.5);*/
  color: #E6E6E6;
}

.btn {
  //border-radius: 15px;
  //margin: 0 5px;
  //line-height: 10px;
  //height: 30px;
  //padding: 0 0.7rem 0rem;
}

.btn-group-lg>.btn, .btn-lg {
  padding: 0rem 1rem;
}

.navbar-dark .navbar-brand {
  letter-spacing: 0.5px;
}

.divider {
  height: 1px;
  border-bottom: 1px solid #CCCCCC;
  margin: 20px 0;
}

.footer {
  background-color: #fff!important;
  height: 60px;
  z-index:3;
  -webkit-box-shadow: 0px -2px 3px 0px rgba(0,0,0,0.2);
  -moz-box-shadow: 0px -2px 3px 0px rgba(0,0,0,0.2);
  box-shadow: 0px -2px 3px 0px rgba(0,0,0,0.2);
}

.item-detail {
  margin-bottom: 0rem;
  //height:40px;
}


/*buttonstyles*/

.search-button {
  margin: 0;
  height: 100%;
}

.btn-link {
  color: #333;
  background-color: transparent;
}
/* icon position nach Themen / by topic */
app-bli div div.list-group.bli-checkboxes div.bliicon {
  background-position: 15px 10px;
  padding: .75rem 1.25rem .75rem 3rem;
}

/* icon position details element */
app-bli.bli-app div div.bli-icons div.list-group div.list-group-item div.bliicon {
  float: left;
  width: 30px;
  height: 25px;
  /*background:rgba(255,255,255,0.5);*/
  display:block;
  margin-top: -4px;
}



.elementdiscription {
  padding: 10px;
}

.ol-zoom{
  display:none;
}

.ol-attribution{
  bottom:3.9em !important;
  position:fixed;
  right:1em;
}

/* Checkbox toggle*/

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  float:right;
  width: 30px;
  height: 18px;
  margin-bottom:0px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
  -moz-box-shadow:    inset 0 2px 0px #aaa;
  -webkit-box-shadow: inset 0 2px 0px #aaa;
  box-shadow: inset 0 2px 0px #aaa;
}

.slider:before {
  position: absolute;
  content: "";
  height: 12px;
  width: 12px;
  left: 2px;
  bottom: 3px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
  -webkit-box-shadow: 0 2px 0px 0px rgba(0,0,0,0.19);
  -moz-box-shadow: 0 2px 0px 0px rgba(0,0,0,0.19);
  box-shadow: 0 2px 0px 0px rgba(0,0,0,0.19);
}

input:checked + .slider {
  background-color: #94c11f;
  -moz-box-shadow:    inset 0 2px 0px #4d680f;
  -webkit-box-shadow: inset 0 2px 0px #4d680f;
  box-shadow: inset 0 2px 0px #4d680f
}

input:focus + .slider {
}

input:checked + .slider:before {
  -webkit-transform: translateX(14px);
  -ms-transform: translateX(14px);
  transform: translateX(14px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 16px;
}

.slider.round:before {
  border-radius: 50%;
}

a#freesearchtab {

}

div.containerSearch.float-left ngb-tabset ul.nav.nav-pills.justify-content-start li.nav-item {
  width:100%;
}
.nav-pills .nav-link.active {
  color: #fff;
  background-color: #5b90dc;
  border-radius: 0;
}
.nav-pills .nav-link {
  color: #0d0d0d;
  /*background-color: rgba(255,255,255,0.85);*/
  border-radius: 0;
}

.form-control, .btn {
  font-size: 0.9rem;
}

/*
temp
*/

/*list-group style for searchlist*/
.list-group-item:first-child {
  border-radius: 0;
}



.nav-link {
  height: 38px;
}
.nav-pills .nav-link.active {
  color: #ffffff;
  background-color: #5b90dc;
  border-radius: 0px;
  font-weight: bold;
}

.form-control:focus {
  color: #495057;
  background-color: #fff;
  border-color: #80bdff;
  outline: 0;
  box-shadow: none;
}

.form-group {
  margin-bottom: 0.5rem;
}
.formbtn {
  margin-top: 10px;
  margin-bottom: 10px;
}
.label {
  display: inline-block;
  margin-top: .25rem;
  margin-bottom: .25rem;
}
.create-entry-tag {
  float: right;
  height: 25px;
  line-height: 15px;
}

/* enumeration */
ol.level1 {
  counter-reset:listenpunkt_level1;
  list-style-type:none;
}
ol.level1 li:before {
  content: counter(listenpunkt_level1) ". ";
  counter-increment:listenpunkt_level1;
}
ol.level2 {
  counter-reset:listenpunkt_level2;
  list-style-type:none;
}
ol.level2 li:before {
  content: counter(listenpunkt_level1)"."counter(listenpunkt_level2,decimal) " ";
  counter-increment:listenpunkt_level2;
}ol.level3 {
   counter-reset:listenpunkt_level3;
   list-style-type:none;
 }
ol.level3 li:before {
  content: counter(listenpunkt_level1)"."counter(listenpunkt_level2,decimal)"."counter(listenpunkt_level3,decimal) " ";
  counter-increment:listenpunkt_level3;
}

.bli-app {
  //height:100px;
}

.right, .fa-right {
  float:right;
}
.searchreset{
  margin: 10px 5px;
}

.checklabel{
  margin-left:5px;
}

.form-check-label {
  margin-left: 15px;
}

.form-check-input {
  margin-left: 0px;
}

.form-check {
  padding-left: 0px;
}

/* Icons */
.exclamation {
  display:flex;
}
.exclamation p{
  margin-left: 10px;
}
.exclamation i{
}

/* modals */
.modal-wrap {
}
.modal-wrap-com {
  height:400px;
  overflow-y: scroll;
}
.modal-content {
  //background:none;
}

.dropdown-menu {
  padding:0;
}

.entry_edit{
  margin: 10px 0;
}



.ol-attribution.ol-uncollapsible {
  height: 1.5em;
}

.pagecontainer {
  max-width: 800px;
}

.edit_header {
  height: 45px;
  margin-bottom: 0;
}

.infos{
  padding: 0 1.25rem 0rem 1.25rem;
}
