<div class="footer full">
  <div class="container-fluid">
    <div class="row align-items-center">
      <div class="col-md-auto">
        <div class="docs-footer-project small">
          <span>Ein Projekt von Transformationsstadt getragen von</span>
        </div>
      </div>
      <div class="col">
        <div class="docs-footer-logo">
          <div class="footer-logo">
            <span>
              <a href="http://www.transzent.uni-wuppertal.de/" target="_blank">
                <img class="docs-footer-transzent-logo" src="../../../assets/img/footer/transzent.svg" alt="transzent">
              </a>
            </span>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="footer-logo">
          <span>
            <a href="http://www.utopiastadt.eu/" target="_blank">
              <img class="docs-footer-utopiastadt-logo" src="../../../assets/img/footer/utopiastadt.png" alt="utopiastadt">
            </a>
          </span>
        </div>
      </div>
      <div class="col">
        <div class="footer-logo">
          <span>
            <a href="http://www.wupperinst.org/" target="_blank">
              <img class="docs-footer-wuppertal_institut-logo" src="../../../assets/img/footer/wuppertal_institut.svg" alt="wuppertal_institut">
            </a>
          </span>
        </div>
      </div>
      <div class="col">
        <div class="footer-logo">

          <span>
            <a href="http://www.neue-effizienz.de/" target="_blank">
              <img class="docs-footer-neue_effiziens-logo" src="../../../assets/img/footer/neue_effiziens.svg" alt="neue_effiziens">
            </a>
          </span>
        </div>
      </div>

      <div class="col-md-auto">
        <div class="docs-footer-support small">
          <span class="support">gefördert durch</span>
        </div>
      </div>
      <div class="col">
        <div class="footer-logo">
          <span>
            <a href="https://www.bmbf.de/" target="_blank">
              <img class="docs-footer-bmbf-logo" src="../../../assets/img/footer/bmbf.png" alt="bmbf">
            </a>

          </span>
        </div>
      </div>
      <div class="col">
        <div class="footer-logo">
          <span>
            <a href="https://www.buergerschaffenwissen.de/citizen-science/buergerforschung-bmbf" target="_blank">
              <img class="docs-footer-buerger_forschung-logo" src="../../../assets/img/footer/buerger_forschung.jpg" alt="buerger_forschung">
            </a>
          </span>
        </div>
      </div>

      <div class="col-md-auto">
        <button type="button" class="btn btn-link btn-sm" routerLink="contact" href="#">Kontakt</button>
        <button type="button" class="btn btn-link btn-sm" routerLink="imprint" href="#">Impressum</button>
        <button type="button" class="btn btn-link btn-sm" routerLink="privacypolicy" href="#">Datenschutz</button>
      </div>
    </div>
  </div>
</div>
