li {
    list-style: none;
    display:block;
}
i {
    width: 32px;
    font-size: 14px;
    display: inline-block;
    text-align: right;
    margin-right: 10px;
}
.bliicon label {
	margin-left: 15px;
}
.bliicon {
	background-position:15px 3px;
	display: flex;
	flex-wrap: wrap;
}

.bliicon2{
  background-position: left;
}

.bliicon2 div {
	margin-left:25px;
}

.bli-check {
  margin-top: 10px;
}
