
<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
  Auswahl OSM ID
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
	    <div class="input-group-prepend">
			<button class="btn btn-outline-secondary" type="button"><i class="fa fa-pencil" aria-hidden="true"></i></button>
		</div>
        <h5 class="modal-title" id="exampleModalLabel">OSM ID NAME</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
			<div id="accordion">
			  <div class="card">
				<div class="card-header" id="details1">
				  <h5 class="mb-0">
					<button class="btn btn-link card-header" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
					 Allgemeine Informationen
					</button>
				  </h5>
				</div>

				<div id="collapseOne" class="collapse show" aria-labelledby="details1" data-parent="#accordion">
				  <div class="card-body">
					Informationen wie Name, Adresse oder Website die den Ort allgemein beschreiben.
				  </div>
				</div>
			  </div>
			  <div class="card">
				<div class="card-header" id="details2">
				  <h4 class="mb-0">
					<button class="btn btn-link" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
					  Akteure & Austausch
					</button>
				  </h4>
				</div>
				<div id="collapseTwo" class="collapse show" aria-labelledby="details2" data-parent="#accordion">
				  <div class="card-body">
					<p>Wie sind Projekte, Initiativen und Vereine aufgebaut und vernetzt?</p>
					<h5>Dimensionen des Guten Lebens in diesem Bereich</h5>
						<!-- <app></app> -->
					<h5>Organisationsform</h5>
						<!-- <app></app> -->
					<h5>Schlagworte & Themen</h5>
				  </div>
				</div>
			  </div>
			</div>
		</div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>



