.map{
	position:fixed;
	left:0;
	top:0;
	width:100vw;
	height:100vh;
	z-index:0;
}
div.ol-debug{
	z-index:1;
	padding-left: 1em;
	padding-right:1em;
	width:100vw;
	height:5em;
	position:absolute;
	bottom:50px;
	left:150px;
}

.ol-zoomInButton{
	display:block;
	position:absolute;
  left: 5px;
	z-index:1;
  border-radius: 0;
  -webkit-border-top-left-radius: 25px;
  -webkit-border-bottom-left-radius: 25px;
  -moz-border-radius-topleft: 25px;
  -moz-border-radius-bottomleft: 25px;
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
}
.ol-zoomOutButton{
	display:block;
	position:absolute;
  left: 41px;
	z-index:1;
  border-left:1px solid #ccc;
  border-radius: 0;
  -webkit-border-top-right-radius: 25px;
  -webkit-border-bottom-right-radius: 25px;
  -moz-border-radius-topright: 25px;
  -moz-border-radius-bottomright: 25px;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
}

.zoombtn {
  /*border-radius: 50%;*/
  background-color: #fff;
  bottom: 65px;
  height: 36px;
  width: 36px;
  color: #333;
  font-size: 20px;
  line-height: 8px;
  padding-bottom: 9px;
}

.zoombtn:active{
  background-color: #ccc;
}
