<form [formGroup]="composemessageForm" (ngSubmit)="compose()">
  <div class="modal">
      <div class="modal-header">
          <button type="button" ng-click="closePopup()" class="close">×</button>
          <h3>Neue Nachricht</h3>
      </div>
      <div class="modal-body">
        <div class="form-group">
          <input type="text" placeholder="An" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.messageto.errors }" style="width:95%;" formControlName="messageto"><br />
          <div *ngIf="submitted && f.messageto.errors" class="invalid-feedback">
			  <div *ngIf="f.messageto.errors.required">Empfänger ist ein Pflichtfeld</div>
		  </div>
        </div>
        <div class="form-group">
              <input type="text" placeholder="Betreff" class="form-control" [ngClass]="" style="width:95%;" formControlName="messagesubj"><br />
        </div>
        <textarea style="width:95%;" rows="10"></textarea>
      </div>
      <div class="modal-footer">
          <a href="#" class="btn" ng-click="closePopup()">Abbrechen</a>
          <a href="#" class="btn btn-primary" ng-click="sendEmail()">Absenden</a>
      </div>
  </div>
</form>