
  <div class="footer light">
    <div class="container-fluid">
      <div class="row small align-items-center">
        <div class="col-md-auto">
          <div class="docs-footer-project">
            <span class="support">Ein Projekt von:</span>
          </div>
        </div>
        <div class="col-md-auto">
          <div class="footer-logo">
            <span><a href="http://www.transformationsstadt.de/" target="_blank">
              <img class="docs-footer-transformationsstadt-logo"
              src="../../../assets/img/footer/tfs_logo.png"
              alt="transformationsstadt"></a></span>
          </div>
        </div>
        <div class="col-md-auto">
          <div class="docs-footer-project">
            <span class="support">gefördert durch:</span>
          </div>
        </div>
        <div class="col-md-auto">
          <div class="footer-logo">
             <span><a href="https://www.bmbf.de/" target="_blank">
            <img class="docs-footer-bmbf-logo"
              src="../../../assets/img/footer/DEgov-BMBF-Logo.svg"
              alt="bmbf">
            </a></span>
          </div>
        </div>
        <div class="col-md-auto">
          <div class="footer-logo">
            <span><a href="https://www.buergerschaffenwissen.de/citizen-science/buergerforschung-bmbf" target="_blank">
                  <img class="docs-footer-buerger_forschung-logo"
              src="../../../assets/img/footer/buerger_forschung.jpg"
              alt="buerger_forschung">
            </a></span>
          </div>
        </div>
        <div class="col footerlinks">
          <div class="float-right">
            <button type="button" class="btn btn-link btn-sm" routerLink="userconditions" href="#">Nutzungsbedingungen</button>
            <button type="button" class="btn btn-link btn-sm" routerLink="contact" href="#">Kontakt</button>
            <button type="button" class="btn btn-link btn-sm" routerLink="imprint" href="#">Impressum</button>
            <button type="button" class="btn btn-link btn-sm" routerLink="privacypolicy" href="#">Datenschutz</button>
            <!--
            <button type="button" class="btn btn-link btn-sm" routerLink="versionInfo" href="#">?</button>-->
          </div>
        </div>
      </div>
  </div>
</div>
