<div class="widget-wrap big-widget">
	<h1><i class="fa fa-exclamation-triangle" aria-hidden="true"></i></h1>
	<p>
		Leider gab es ein Problem!
	</p>
	<p>
		Wir befinden noch in der Entwicklung des GeoPortals des Guten Lebens. Möglicherweise stehen noch nicht alle Funktionen zur Verfügung.
	</p>
	<div>
		<p>
			Falls Du glaubst, einen Bug gefunden zu haben, gib uns doch bitte ein Feedback.
			Es wäre sehr hilfreich, wenn du folgende Informationen geben könntest:
		</p>
		<ul>
			<li>Wodurch wurde der Fehler ausgelöst? (Hier gerne ausfühlich werden)</li>
			<li>Mit welchem Browser wurde der Fehler ausgelöst?</li>
			<li>Unter welchem Betriebssystem wurde der Fehler ausgelöst?</li>
			<li>Warst Du eingeloggt?</li>
			<li>Welche Version des Frontends hast du benutzt? (z.Z. <b>{{version}}</b> )</li>
			<li>Weißt du, ob die Funktion schon einmal funktioniert hat?</li>
			<li>Ein Screenshot wäre schön, insbesondere bei Darstellungsfehlern.</li>
		</ul>
		<p>
			Bitte sende die Informationen an <a href="mailto:bugs@transformationsstadt.de">bugs@transformationsstadt.de</a> oder <a href="mailto:feedback@transformationsstadt.de">feedback@transformationsstadt.de</a>.
		</p>
		<p>
		Vielen Dank,
		</p>
		<p>
		Das <i>"Geoportal des Guten Lebens"</i>-Team.
		</p>
	</div>

</div>