<form [formGroup]="form">
	<div class="elementwrap">
		<div class="elementinfo">
			<div class="form-group card-header edit_header">
				<div (click)="sharingCollapsed= !sharingCollapsed"
					[attr.aria-expanded]="!sharingCollapsed" aria-controls="collapseSharing"
					class="collapseSharing">
					<h5><i class="" aria-hidden="true">&nbsp;</i>Dieser Ort und seine Sharing- & Giving Angebote<i [ngClass]="{'fa':true,'fa-lg':true,'fa-angle-down':!sharingCollapsed,'fa-angle-right':sharingCollapsed, 'fa-right':true}"
						aria-hidden="true">&nbsp;</i>
						</h5>
				</div>
			</div>
			<div id="collapseSharing" [ngbCollapse]="sharingCollapsed">
				<div class="card">
					<div class="card-body">
						<div class="form-group row">
							<label class="col-sm-3 col-form-label">
								<strong>Angebote des Teilen und Schenkens</strong>
							</label>
							<div class="col-sm-8">
								<textarea class="form-control" formControlName="sharing_offers" id="sharing_offers" rows="10" placeholder="Was wird an diesem Ort geteilt und/oder verschenkt? z. B. Bücher, Erfahrung/Kompetenz/Wissen, Geräte/Werkzeuge, Kleidung, Lebensmittel, Nutzflächen/Räume,	Telekommunikation, Verkehrsmittel, Zeit, ..."></textarea>
							</div>
						</div>
						<div class="form-group row">
							<label class="col-sm-3 col-form-label">
								<strong>Organisator*in</strong>
							</label>
							<div class="col-sm-8">
								<textarea class="form-control" id="sharing_organisator" formControlName="sharing_organisator" rows="10" placeholder="Wer organisiert das Angebot/die Angebote jeweils?"></textarea>
							</div>
						</div>
						<div class="form-group row">
							<label class="col-sm-3 col-form-label">
								<strong>Kostenfreie Angebote</strong>
							</label>
							<div class="col-sm-8">
								<textarea formControlName="sharing_free_offers" class="form-control" id="sharing_free_offers" rows="10" placeholder="Welches Angebot ist bzw. welche Angebote sind kostenfrei?"></textarea>
							</div>
						</div>
						<div class="form-group row">
							<label class="col-sm-3 col-form-label">
								<strong>Kostenpflichtige Angebote</strong>
							</label>
							<div class="col-sm-8">
								<textarea class="form-control" id="sharing_nonfree_offers" rows="10" placeholder="Welches Angebot kostet bzw. welche Angebote kosten wie viel?" formControlName="sharing_nonfree_offers"></textarea>
							</div>
						</div>
						<!-- Kategorie -->
						<!-- 				<app-addcategory></app-addcategory> -->
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="elementwrap">
		<div class="elementinfo">
			<div class="form-group card-header edit_header">
				<div (click)="sustCollapsed= !sustCollapsed"
					[attr.aria-expanded]="!sustCollapsed" aria-controls="collapseSust"
					class="collapseSust">
					<h5><i class="" aria-hidden="true">&nbsp;</i>Dieser Ort und nachhaltige Ernährung<i
						[ngClass]="{'fa':true,'fa-lg':true,'fa-angle-down':!sustCollapsed,'fa-angle-right':sustCollapsed, 'fa-right':true}"
						aria-hidden="true">&nbsp;</i></h5>
				</div>
			</div>
			<div id="collapseSust" [ngbCollapse]="sustCollapsed">
				<div class="card">
					<div class="card-body">
						<div class="form-group row">
							<label class="col-sm-3 col-form-label">
								<strong>Angebote zum Thema nachhaltige Ernährung</strong>
							</label>
							<div class="col-sm-8">
								<textarea formControlName="sustainable_nutrition" class="form-control" id="sustainable_nutrition" rows="10" placeholder="Welches Angebot kostet bzw. welche Angebote kosten wie viel?"></textarea>
							</div>
						</div>
						<div class="form-group row">
							<label class="col-sm-3 col-form-label">
								<strong>Sortiment</strong>
							</label>
							<div class="col-sm-8">
								<textarea class="form-control" formControlName="sustainable_nutrition_assortment" id="sustainable_nutrition_assortment" rows="10" placeholder="Was für Produkte werden angeboten? z. B. Eier, Fleisch, Gemüse, Getreide, Heu, Honig, Käse, Milch, Mist, Obst, Saatgut, Saft, Spirituosen, Stroh, Wild, ..."></textarea>
							</div>
						</div>

					</div>
				</div>
			</div>
		</div>
	</div>
</form>
