<div class="widget-wrap messages-widget">

  <h2> Nachrichten</h2>
  <div class="container">
    <!--<form [formGroup]="messageForm" (ngSubmit)="message()"></form>-->
    <div class="row messaging-head">
      <div class="col-2 big-box">
        <app-avatar></app-avatar>
      </div>

      <div class="col-10">
        <div class="row">
          <div class="col">
            <!--<div class="messaging-user">-->
            <app-user></app-user>
            username
            <!--</div>-->
          </div>

        </div>
        <div class="row">
          <div class="col messaging-inbox">
            <button type="button" class="btn btn-outline-primary btn-sm" (click)="showInbox()">
              Posteingang
            </button>
          </div>
          <div class="col messaging-sent">
            <button type="button" class="btn btn-outline-primary btn-sm" (click)="showSent()">
              Gesendete
            </button>
          </div>
          <div class="col"></div>
          <div class="col">
            <!-- <div class="messaging-trash">
					<button type="button" class="btn btn-outline-primary btn-sm">
						Papierkorb
					</button>
				</div>
				-->
          </div>
        </div>

      </div>
    </div>
  </div>

  <br>
  <div class="row messaging-new_search">
    <div class="col-6 messaging-new">
      <br>
      <button type="button" class="btn btn-outline-light btn-sm" (click)="composeMessage()">
        Nachricht schreiben
      </button>
    </div>
    <div class="col-6 mmessaging-search">
      <app-messaging-search></app-messaging-search>
    </div>
  </div>
  <br>
  <div *ngIf="currentView == 'compose'">
    <app-compose-message></app-compose-message>
  </div>
  <div *ngIf="currentView != 'compose'" class="row messaging-overview">
    <div class="col-6 messages">
      <ul *ngIf="currentView=='inbox'" class="list-group">
        <span *ngIf="!this.inboxMessages || inboxMessages.length == 0">keine empfangenen Nachrichten</span>
        <li *ngFor="let message of inboxMessages">
          <span title="{{message.subject}}">{{message.subject}}</span>
        </li>
      </ul>
      <ul *ngIf="currentView=='sent'" class="list-group">
        <span *ngIf="!this.sentMessages || sentMessages.length == 0">keine gesendeten Nachrichten</span>
        <li *ngFor="let message of sentMessages">
          <span title="{{message.subject}}">{{message.subject}}</span>
        </li>
      </ul>
    </div>
    <div *ngIf="currentMessage" class="col-6 single-message">

      <h5 class="modal-title">currentMessage.subject</h5>
      {{currentMessage.body}}
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Schießen</button>
        <button type="button" class="btn btn-primary">Antworten</button>
      </div>

    </div>
  </div>
</div>
