.messages {
  height:300px;
  overflow-y:scroll;
  width:100%;
}
.messages-widget{
	width:60%;
	max-width:60%;
	margin-left:20%;
	margin-right:20%;
}

.messaging-new_search {
	background-color: #4a90e2;
}