<div class="widget-wrap big-widget">
	<div class="container versioninfo">
		<h1 class="entry-title">About this Software</h1>
		<div>Version {{version}}</div>
		<div>Bugreports: <a href="mailto:bugs@transformationsstadt.de">bugs@transformationsstadt.de</a></div>
		<div>Feedback: <a href="mailto:feedback@transformationsstadt.de">feedback@transformationsstadt.de</a></div>
		<div>Repositories: <a href="https://gitlab.transformationsstadt.de">gitlab.transformationsstadt.de</a></div>
		<div>License: <a href="https://www.gnu.org/licenses/gpl-3.0.de.html">GPLv3</a></div>	
	</div>
</div>