<div class="widget-wrap big-widget">
	<div class="container entryedit">
		<form *ngIf="form" [formGroup]="form">
			<div class="elementwrap">
				<app-osminformation *ngIf="node" [form]="form.get('osmForm')" [node]="node"></app-osminformation>
				<app-goodplace *ngIf="node" [form]="form.get('goodplaceForm')"  [node]="node"></app-goodplace>
				<app-networkpartner *ngIf="node" [form]="form.get('networkpartnerForm')"  [node]="node"></app-networkpartner>
				<app-category *ngIf="node" [form]="form.get('categoryForm')"  [node]="node"></app-category>
			</div>
			<br><br>
			<div class="form-group row">
				<div class="col-sm-11"></div>
				<div class="col-sm-1">
					<button [disabled]="node==null" (click)="save()" class="btn btn-primary">Speichern</button>
				</div>
			</div>
		</form>
	</div>
</div>
